<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    
    <div class="container">
      <p class="Lead badge badge-primary">
        Data will be saved once you fill form and Change the Location
      </p>

      <form method="POST">
        {% csrf_token %} 
        <!-- <button type="submit" class="btn btn-info my-2">Submit</button> -->
        <table>
            <tr>
                <td>University Name:</td><td><input id="name" type="text"/></td>
            </tr>
            <tr>
                <td>Email:</td><td><input id="email" type="text"/></td>
            </tr>
            <tr>
                <td>Password:</td><td><input id="password" type="text"/></td>
            </tr>
            <tr>
                <td>Address:</td><td><input id="address" type="text"/></td>
            </tr>            
        </table>
        <button>Save</button>
      </form>
      <div id="error-list"></div>
    </div>

    <script>
      
      function save_data() {
        var token = "{{csrf_token}}";
        var name = $("#name").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var address = $("#address").val();
        $.ajax({
          type: "POST",
          headers: { "X-CSRFToken": token },
          url: "http://127.0.0.1:8000/api/admin/addUniversity/",
          data: { name: name, email: email, password: password, address:address },

          success: function (data) {
            
            console.log(data);
          },
          error: function (data) {
              console.log(error);
          }
        });
      }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
